<div class="card">
    <a href="/post/{{id}}">
        <div class="card-header">
            @{{username}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{content}}</p>
            <button class="btn btn-primary">Comment</button>
        </div>
    </a>
</div>