<form class="post-maker">
    <div class="form-group">
        <input type="text" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="post-text">Post Content</label>
        <textarea class="form-control" id="post-text" rows="10"></textarea>
    </div>
</form>